<FolderEditor Folder="new FolderModel()">
    <ToggleElement>
        <div class="folder-box">
            <i class="bi bi-plus-circle d-flex align-self-center"></i>
        </div>
    </ToggleElement>
</FolderEditor>