@inherits LayoutComponentBase

<div class="d-flex justify-content-center align-items-center w-100 mt-4 mt-lg-5">
    <div class="d-flex flex-column content-place">
        @Body
    </div>
</div>

<style>
    body{
        background-color: #BFD7EA;
    }

    .content-place{
        width: 400px;
        padding: 0 1rem;
    }
</style>