@page "/account/signin"

@layout AccountLayout

<h2>Sign in</h2>
@*<EditForm class="d-flex flex-column" Model="_userModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mt-2">
        <div>Login</div>
        <InputText class="form-control" @bind-Value=_userModel.UserName placeholder="Enter login" />
    </div>
    <div class="mt-2">
        <div>Password</div>
        <InputText type="password" class="form-control" @bind-Value=_userModel.Password placeholder="Enter password" />
    </div>
    <InputItem class="m-0 mt-3" type="submit">Accept</InputItem>
</EditForm>*@

