@using ContextStudier.Presentation.BlazorWASM.Security

@inject AuthenticationService _authService

<div @onclick=LogoutAsync>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private async Task LogoutAsync()
    {
        await _authService.LogoutAsync();
    }
}
