<FolderEditor Folder="new FolderModel()">
    <ShowButton>
        <div class="folder-box">
            <i class="bi bi-plus-circle d-flex align-self-center"></i>
        </div>
    </ShowButton>
</FolderEditor>